<script>
    import { createEventDispatcher } from 'svelte';
    import icons from '@/icons';
    import { characters, getCharacterImage } from '@/data';
    import Button from '@/components/Button.svelte';
    import Menu from '@/components/Menu.svelte';

    let active = false;
    let loading = null;
    let selected = null;

    const dispatch = createEventDispatcher();

    function load(character) {
        loading = character;

        function resolve(character) {
            character.loaded = true;
            selected = character;
            loading = null;
        }

        if (character.loaded) {
            resolve(character);
        } else {
            const img = new Image();
            img.onload = () => setTimeout(() => resolve(character), 50);
            img.src = getCharacterImage(character.id);
        }
    }

    function toggleMenu() {
        active = !active;

        if (!active) {
            loading = null;
            selected = null;
        }
    }
</script>

<style type="text/css">
    .submenu__placeholder {
        pointer-events: none;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .submenu {
        background: var(--white);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .submenu > button {
        color: var(--white);
        left: 0;
        margin: var(--space);
        position: absolute;
        top: 0;
    }

    .submenu > img {
        display: block;
        object-fit: cover;
        object-position: top center;
        height: 100%;
        width: 100%;
    }

    .submenu > footer {
        background: rgba(33, 33, 33, .9);
        bottom: 0;
        color: var(--white);
        cursor: pointer;
        left: 0;
        padding: var(--space);
        position: absolute;
        width: 100%;
    }

    .list__item {
        position: relative;
    }

    .list__item :global(svg) {
        animation: spin 1s infinite;
        vertical-align: middle;
    }
</style>

<Menu bind:active={active}>
    <div slot="trigger" class="menu__trigger">
        <Button on:click={() => active = !active}>
            Press me
        </Button>
    </div>

    <ul class="menu__list list">
        {#each characters as character, i}
            <li class="list__item">
                {#if selected !== character}
                    <div class="submenu__placeholder"></div>
                {/if}

                <button type="button" class="button" on:click={() => load(character)}>
                    {#if loading === character}
                        {@html icons.loading}
                    {:else}
                        {character.name}
                    {/if}
                </button>
            </li>

            {#if i + 1 < characters.length}
                <li class="list__divider"></li>
            {/if}
        {/each}
    </ul>

    {#if selected}
        {#await selected then c}
            <article class="submenu">
                <button type="button" on:click={() => selected = null}>
                    {@html icons.arrowLeft}
                </button>

                <img src={getCharacterImage(c.id)} alt={c.name}/>

                <footer>
                    <h4>{c.name}</h4>
                </footer>
            </article>
        {/await}
    {/if}
</Menu>
