/**
 * Keyframes
 */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

/**
 * Reset
 */
html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button {
    background: transparent;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    margin: 0;
}

/**
 * App
 */
html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

blockquote {
    font-style: italic;
    margin: calc(var(--space) * 2) 0;
}

blockquote > footer {
    font-style: normal;
    margin-top: var(--space);
}

/**
 * Theme
 */
:root {
    --primary: lightblue;
    --white: white;
    --white-alt: #f3f3f3;
    --light-grey: #e6e6e6;
    --backdrop: rgba(33, 33, 33, 0.9);
    --space: .5rem;
}

/**
 * Theme - Button
 */
.button {
    background-color: var(--primary);
    cursor: pointer;
    line-height: 2.625rem;
    padding: 0 calc(var(--space) * 2);
}

/**
 * Layer
 */
.layer {
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}

.layer > * {
    pointer-events: all;
}

/**
 * Theme - List
 */
.list {
    margin: 0;
    padding: 0;
}

ul.list,
ol.list {
    list-style: none;
}

.list__item {
}

.list__item > .button {
    background: var(--white);
    display: block;
    text-align: left;
    transition: background .2s ease;
    width: 100%;
}

.list__item > .button:hover {
    background: var(--white-alt);
}

.list__divider {
    background: var(--white-alt);
    height: 2px;
}
