<script>
    import { characters } from '@/data';
    import CharacterMenu from '@/components/CharacterMenu.svelte';
    import Character from './Character.svelte';
    import { router } from './router';
</script>

{#if $router.route}
    {#each characters as character}
        {#if character === $router.data}
            <Character {character} {router}/>
        {/if}
    {/each}
{:else}
    <CharacterMenu {router}/>
{/if}
