<script>
    import Layout from '@/components/Layout.svelte';
    import workshop from '../../../README.md';
    import exercise from '../README.md';
    import Exercise from './Exercise.svelte';
    import Solution from './Solution.svelte';

    const info = { exercise, workshop };
</script>

<Layout {info}>
    <div slot="left">
        <Exercise/>
    </div>
    <div slot="right">
        <Solution/>
    </div>
</Layout>
