<script>
    import { scale } from 'svelte/transition';
    import { characters } from '@/data';
    import Button from '@/components/Button.svelte';

    export let active = false;

    const duration = 200;

    function toggleMenu() {
        active = !active;
    }
</script>

<style>
    .menu {
        position: relative;
    }

    .menu__list-container {
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 5px 8px 0px rgba(0, 0, 0, 0.14),
        0px 1px 14px 0px rgba(0, 0, 0, 0.12);
        left: 0;
        min-width: 250px;
        position: absolute;
        top: 42px;
        transform-origin: top left;
    }
</style>

<div class="menu">
    <div class="menu__trigger">
        <Button on:click={toggleMenu}>
            Press me
        </Button>
    </div>

    {#if active}
        <div class="menu__list-container" transition:scale={{ duration }}>
            <ul class="menu__list list">
                {#each characters as character, i}
                    <li class="list__item">
                        <button type="button" class="button">
                            {character.name}
                        </button>
                    </li>

                    {#if (i + 1) < characters.length}
                        <li class="list__divider"></li>
                    {/if}
                {/each}
            </ul>
        </div>
    {/if}
</div>
