<script>
    export let disabled = false;
    export let active = false;

    let processing = false;
    let timeout = null;

    function onClick() {
        processing = true;

        if (timeout) {
            clearTimeout(timeout);
        }

        timeout = setTimeout(() => {
            processing = false;
        }, 2000);
    }
</script>

<style>
    .button {
        overflow: hidden;
        position: relative;
        transition: .3s ease-out;
        z-index: 1;
    }

    .button:hover .button__effect,
    .button:active .button__effect,
    .button.active .button__effect {
        width: 100%;
    }

    .button__effect {
        background-color: rgba(255, 255, 255, 0.33);
        height: 100%;
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        transition: width .1s ease-out;
        width: 0;
        z-index: -1;
    }

    .button[disabled] {
        background: lightgrey;
        opacity: .8;
        pointer-events: none;
    }
</style>

<button class="button" class:active {disabled} on:click>
    {#if processing}
        <slot name="processing">Processing</slot>
    {:else}
        <slot>Press me</slot>
    {/if}

    <div class="button__effect"></div>
</button>
