<script context="module">
    import { fade } from 'svelte/transition';
    import { crossfadeImage } from './CharacterMenu.svelte';

    export const duration = 300;
    export const fadeDuration = duration / 3;

    const fadeIn = (node, options) => fade(node, {
        duration: fadeDuration,
        delay: duration,
        ...options,
    });

    const fadeOut = (node, options) => fade(node, {
        duration: fadeDuration,
        ...options,
    });

    const [send, receive] = crossfadeImage(duration);
</script>

<script>
    import icons from '@/icons';
    import { characters, getCharacterImage } from '@/data';

    export let router;
    export let character;

    $: index = characters.indexOf(character);
    $: firstCharacter = characters[0];
    $: lastCharacter = characters[characters.length - 1];
    $: previousCharacter = character === firstCharacter ? lastCharacter : characters[index - 1];
    $: nextCharacter = character === lastCharacter ? firstCharacter : characters[index + 1];

    const detailKeys = [
        'Birth year',
        'Species',
        'Height',
        'Mass',
        'Gender',
        'Hair color',
        'Skin color',
        'Homeworld'
    ];
</script>

<style>
    .character__container + .character__container {
        top: 0;
        position: absolute;;
    }

    .character {
        display: grid;
        grid-template-rows: repeat(2,minmax(0,1fr));
        grid-template-columns: repeat(2, minmax(0, 1fr));
        position: relative;
    }

    .character__back {
        color: var(--white);
        left: calc(var(--space) * 2);
        position: absolute;
        top: calc(var(--space) * 2);
        z-index: 1;
    }

    .character__back :global(svg) {
        height: 2.5rem;
        width: 2.5rem;
    }

    .character__image {
        height: 320px;
        max-width: 100%;
        object-fit: cover;
        object-position: top center;
        width: 25vw;
    }

    .character__content {
        background: var(--light-grey);
        padding: calc(var(--space) * 2);
    }

    .character__content > h1 {
        margin: 0;
    }

    .character__details {
        padding: calc(var(--space) * 2);
    }

    .character__details > ul > li:before {
        content: '- ';
    }

    .character__navigation {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .character__navigation > article {
        color: var(--white);
        height: 320px;
        position: relative;
        z-index: 0;
    }

    .character__navigation > article > img {
        height: 100%;
        object-fit: cover;
        object-position: top center;
        width: 100%;
    }
</style>

<div class="character__container">
    <section class="character">
        <button
            type="button"
            class="character__back"
            on:click={() => router.goTo(null)}
            in:fadeIn
            out:fadeOut
        >
            {@html icons.arrowLeft}
        </button>

        <img
            class="character__image"
            src={getCharacterImage(character.id)}
            alt={character.name}
            in:receive={{ key: `character.${character.id}.image`, duration }}
            out:send={{ key: `character.${character.id}.image`, duration }}
        />

        <div class="character__content" in:fadeIn out:fadeOut>
            <h1>{character.name}</h1>

            <blockquote>
                {character.quote.content}
                <footer>&mdash; {character.quote.reference}</footer>
            </blockquote>
        </div>

        <div class="character__details" in:fadeIn out:fadeOut>
            <ul class="list">
                {#each detailKeys as key}
                    <li class="list__item">{key}: {character[key] }</li>
                {/each}
            </ul>
        </div>
    </section>
    <section class="character__navigation">
        {#each [previousCharacter, nextCharacter] as c}
            <article on:click={() => router.goTo(c)}>
                <img
                    src={getCharacterImage(c.id)}
                    alt={character.name}
                    in:receive={{ key: `character.${c.id}.image`, duration }}
                    out:send={{ key: `character.${c.id}.image`, duration }}
                />
            </article>
        {/each}
    </section>
</div>
