<script>
    import { fade as _fade, crossfade } from 'svelte/transition';
    import { cubicOut } from 'svelte/easing';
    import icons from '../icons';
    import Button from './Button.svelte';

    export let info;

    const duration = 200;
    const easing = cubicOut;

    let showNotes = false;
    let showExercise = true;

    const fade = (node, params) => _fade(node, {
        duration,
        easing,
        ...params
    });

    const [send, receive] = crossfade({
        duration: (d) => Math.sqrt(d * duration / 2),
        easing,
        fallback: fade,
    });

    function toggleNotes() {
        showNotes = !showNotes;
    }
</script>

<style>
    .layout {
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    .layout__layer {
        z-index: 10;
    }

    .layout__column,
    .layout__column > div,
    .layout__separator {
        display: flex;
    }

    .layout__column {
        align-items: center;
        flex: 1 0 calc(50% - 4px);
        flex-direction: column;
        overflow: auto;
    }

    .layout__column > h2 {
        margin: 1.5rem 0;
    }

    .layout__column > div {
        align-items: center;
        flex: 1 1 100%;
        justify-content: center;
        position: relative;
    }

    .layout__separator {
        background-color: lightgrey;
        flex: 1 0 8px;
    }

    .layout__separator-handle {
        border: 0;
        height: 100px;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .modal__button {
        padding: 1rem;
        text-align: right;
    }

    .modal__backdrop {
        background: var(--backdrop);
    }

    .modal__container {
        overflow: auto;
    }

    .modal {
        margin: calc(var(--space) * 12) auto;
        position: relative;
        width: 960px;
        z-index: 20;
    }

    .modal,
    .modal__placeholder {
        background: var(--white);
    }

    .modal__close {
        position: absolute;
        right: var(--space);
        top: var(--space);
    }

    .modal__header {
        display: flex;
        border-bottom: 1px solid var(--light-grey);
    }

    .modal__header > :global(.button) {
        background-color: var(--white);
        border-right: 1px solid var(--light-grey);
        line-height: 3.5rem;
    }

    .modal__header > :global(.button .button__effect) {
        background-color: rgba(33, 33, 33, .1);
    }

    .modal__content {
        padding: calc(var(--space) * 3);
    }

    .modal__content > :global(h1) {
        margin-bottom: calc(var(--space) * 4);
    }

    .modal__content > :global(h2) {
        margin-top: calc(var(--space) * 4);
    }
</style>

<main class="layout">
    <div class="layout__layer layer modal__button">
        <button type="button" on:click={toggleNotes}>
            {#if !showNotes}
                <div class="modal__placeholder" in:receive={{ key: 'modal' }} out:send={{ key: 'modal' }}></div>
            {/if}

            {@html icons.info}
        </button>
    </div>

    {#if showNotes}
        <div class="layout__layer layer">
            <div class="modal__backdrop layer" on:click={toggleNotes} transition:fade></div>
            <div class="modal__container layer">
                <div class="modal" in:receive={{ key: 'modal' }} out:send={{ key: 'modal' }}>
                    <div class="modal__header">
                        <Button on:click={() => showExercise = true} active={showExercise}>Exercise</Button>
                        <Button on:click={() => showExercise = false} active={!showExercise}>Workshop</Button>

                        <button type="button" class="modal__close" on:click={toggleNotes}>
                            {@html icons.close}
                        </button>
                    </div>
                    <div class="modal__content">
                        {#if showExercise}
                            {@html info.exercise}
                        {:else}
                            {@html info.workshop}
                        {/if}
                    </div>
                </div>
            </div>
        </div>
    {/if}

    <div class="layout__column">
        <h2>Exercise</h2>
        <div>
            <slot name="left"/>
        </div>
    </div>

    <div class="layout__separator">
        <button class="layout__separator-handle"></button>
    </div>

    <div class="layout__column">
        <h2>Solution</h2>
        <div>
            <slot name="right"/>
        </div>
    </div>
</main>
