<script>
    import { fade, scale } from 'svelte/transition';
    import { characters } from '@/data';

    export let active = false;

    const duration = 200;
</script>

<style>
    .menu {
        position: relative;
    }

    .menu__list-container {
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 5px 8px 0px rgba(0, 0, 0, 0.14),
        0px 1px 14px 0px rgba(0, 0, 0, 0.12);
        left: 0;
        min-width: 250px;
        position: absolute;
        top: 42px;
        transform-origin: top left;
    }
</style>

<div class="menu">
    <slot name="trigger"/>

    {#if active}
        <div class="menu__list-container" transition:scale={{ duration }}>
            <slot/>
        </div>
    {/if}
</div>
